#container-wrap {
    background-color: gainsboro;
}

#intro {
    background: url(../img/side_bg10.jpg);
    background-size: cover;
    position: relative;
    padding: 10px;
    margin: auto;
    margin-left: auto;
    height: 100vh;
    float: center;
    background-blend-mode: screen;
    overflow: hidden;
}

#intro h1 {
    text-align: center;
    font-weight: 500;
    color: ghostwhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}

#intro h2 {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

#social {
    position: relative;
    text-align: center;
}

#git {
    padding: 20px;
    font-size: 40px;
    opacity: 1.0;
    color: #A9A9A9;
    text-align: center;
}

#blog-AS {
    padding: 20px;
    font-size: 40px;
    opacity: 1.0;
    color: #A9A9A9;
    text-align: center;
}

#linkedin {
    padding: 20px;
    font-size: 40px;
    opacity: 1.0;
    color: #0e76a8;
    text-align: center;
}

#twitter {
    padding: 20px;
    font-size: 40px;
    opacity: 1.0;
    /* color: tra; */
    text-align: center;
}

#work {
    background: url(../img/side_bg4.jpg);
    background-size: cover;
    position: relative;
    padding: 10px;
    margin: auto;
    margin-left: auto;
    height: 100vh;
    float: center;
    background-blend-mode: screen;
    overflow: hidden;
    align-content: center;
}

#exp-heading {
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: azure;
    text-align: center;
    font-size: 50px;
}

#work ul.timeline {
    list-style-type: none;
    position: relative;
    color: white;
    /* text-align: center; */
    align-content: center;
}

#work ul.timeline:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
    background: #3498db;
}

#work ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
    /* text-align: center; */
}

#work ul.timeline>li:before {
    content: ' ';
    background: rgb(11, 12, 12);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}